# --------------------------------- bundiles --------------------------------- #
node_modules
# --------------------------------- static and env --------------------------------- #
.env
# ----------------------------- text editor files ---------------------------- #
.vscode