<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%- title %></title>
	<link rel="stylesheet" href="/css/pages/reset-password.css">
</head>

<body>
	<% if (success) { %>
		<div class="success">
			<h1>Success</h1>
			<p>Your password has been changed.</p>
		</div>
	<% } else { %>
	<div class="mainDiv">
		<div class="cardStyle">
			<form action="/auth/reset-password/update" method="post" name="signupForm" id="signupForm">

				<h2 class="formTitle">
					<%- header %>
				</h2>

				<input type="hidden" name="token" value="<%- token %>">

				<div class="inputDiv">
					<label class="inputLabel" for="password">New Password</label>
					<input type="password" id="password" name="password" required min="6">
				</div>

				<div class="inputDiv">
					<label class="inputLabel" for="password_confirmation">Confirm Password</label>
					<input type="password" id="password_confirmation" name="password_confirmation" min="6">
				</div>

				<div class="buttonWrapper">
					<button type="submit" id="submitButton" onclick="validateSignupForm()"
						class="submitButton pure-button pure-button-primary">
						<span><%- button %></span>
					</button>
				</div>

			</form>
		</div>
	</div>
	<% }%>
</body>

</html>